@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.coin-pile {
  background-color: #ffd700; /* Or couleur de pile */
  content: "Pile";
}

.coin-face {
  background-color: #c0c0c0; /* Or couleur de face */
  content: "Face";
}
